# Shopify
SHOPIFY_ORDER_PAID_SECRET=
SHOPIFY_REVALIDATE_SECRET=
SHOPIFY_WEBHOOK_SECRET=

# Supabase
SUPABASE_URL=
SUPABASE_SERVICE_ROLE_KEY=

# Supabase webhook secrets
INTERNAL_SUPABASE_WEBHOOK_SECRET=
SUPABASE_SUPPORT_WEBHOOK_SECRET=

# MailerLite
MAILERLITE_WEBHOOK_SECRET=

# Resend
RESEND_API_KEY=
RESEND_FROM_EMAIL=
EMAIL_FROM_SUPPORT=

# Upstash Redis
UPSTASH_REDIS_REST_URL=
UPSTASH_REDIS_REST_TOKEN=

# Instagram / Cron
CRON_SECRET=
INSTAGRAM_ACCESS_TOKEN=
